*{
  margin: 0;
  padding: 0;
}
.b-center-content{
  display: block;
  width: 100%;
  max-width: 964px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 16px;
}
.container-lang, .conatiner-payment{
  display: block;
  width: 100%;
  max-width: 872px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.checkout-mobile{
  display: none;
}
.checkout-block{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0;
}
a.lang-link{
  text-decoration: none;
  color: #B0B4BE;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  margin: 0 8px;
}
a.lang-link-active{
  color: #363A43;
}
.payment-row{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.payment-field, .order-field{
  display: block;
  width: 100%;
  max-width: 420px;
}
.payment-field{
  position: relative;
}
a.checkout-link{
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  color: #363A43;
  margin-left: 8px;
}
.checkout-b-position{
  position: absolute;
  left: -32px;
}
.payment-rules{
  margin-top: 56px;
}
.payment-field .checkout-block{
  padding: 0;
}
p.payment-heading{
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #363A43;
}
p.payment-subheading{
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #363A43;
}
.payfrom-services{
  display: block;
  margin-top: 24px;
}
button{
  border: none;
}
.btn-pay-block{
  display: block;
  background: #000000;
  padding: 14px 0;
}
button.payfrom-btn{
  display: inline-block;
  width: 100%;
  border-radius: 3px;
  background-image: url(images/apple_pay.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  padding-top: 34px;
}
.another-payform{
  display: block;
  margin-top: 24px;
  position: relative;
  height: 24px;
}
.another-payform::before{
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #666C7B;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
span.another-text{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #363A43;
  display: inline-block;
  background-color: #FFFFFF;
  padding: 0 16px;
}
label.pay-label-text{
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #666C7B;
}
.pay-control-area{
  display: block;
}
.card-flieds{
  display: block;
  margin-top: 16px;
}
input.pay-control-area{
  width: 100%;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #C7C9D1;
  -webkit-box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  padding: 10px 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666C7B;
  text-transform: uppercase;
  margin: 4px 0;
}
input.pay-control-area::-webkit-input-placeholder{ 
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666C7B;
  text-transform: uppercase;
}
input.pay-control-area::-moz-placeholder{ 
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666C7B;
  text-transform: uppercase;
}
input.pay-control-area:-ms-input-placeholder{ 
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666C7B;
  text-transform: uppercase;
}
input.pay-control-area::-ms-input-placeholder{ 
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666C7B;
  text-transform: uppercase;
}
input.pay-control-area::placeholder{ 
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666C7B;
  text-transform: uppercase;
}
.card-row-flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 12px;
}
.card-col-sm{
  display: inline-block;
  width: 50%;
}
.card-col-sm:nth-child(2n){
  margin-left: 8px;
}
.marker-cvc-icon{
  position: relative;
}
span.icon-cvc{
  position: absolute;
  right: 12px;
  bottom: 18px;
  background-image: url(images/info.png);
  width: 18px;
  height: 18px;
  cursor: help;
}
.btn-payment{
  display: block;
  margin-top: 14px;
}
button.button-pay{
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
  background-color: hsl(144, 97%, 27%);
  width: 100%;
  border-radius: 6px;
  /* padding: 12px 16px; */
  height: 48px;
  cursor: pointer;
  position: relative;
}
span.main-content{
  display: block;
  opacity: 1;
  position: relative;
}
span.main-content{
  margin-top: 16px;
}
span.processing-content{
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  opacity: 0;
}
button.button-pay:hover{
  background-color: hsl(144, 97%, 31%);
  margin-top: -2px;
  -webkit-transition: 0.08s ease-in;
  -o-transition: 0.08s ease-in;
  transition: 0.08s ease-in;
}
button.button-pay:visited{
  color: #FFFFFF;
  background-color: hsl(144, 97%, 27%);
}
button.button-pay:active{
  background-color: hsl(144, 97%, 23%);
  margin-top: 4px;
  -webkit-transition: 0.08s ease-in;
  -o-transition: 0.08s ease-in;
  transition: 0.08s ease-in;
}
button.button-pay:not(active){
  background-color: hsl(144, 97%, 27%);
}
button.button-pay:not(hover){
  background-color: hsl(144, 97%, 27%);
}
button.button-pay:not(focus){
  background-color: hsl(144, 97%, 27%);
}
.main-content-mobile{
  display: none;
}
.gotop{
  transition: 0.12s ease-out;
}
.processing-content{
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
span.processing-icon{
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 18px;
  height: 18px;
  background: url(images/loader.png) center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -webkit-animation: loading 0.8s infinite linear;
  animation: loading 1s infinite linear;
}
@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.processing-text{
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
  /* color: red; */
  margin-left: 12px;
}


.desc-field{
  display: block;
  margin-top: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px 16px;
  border: 1px solid #E4E6EC;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #666C7B;
}
span.text-strong{
  font-weight: 600;
}
.order-block{
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #F7F7F9;
  border-radius: 8px;
}
.order-b-center{
  display: block;
  width: 100%;
  max-width: 356px;
  margin: 0 auto;
  padding: 32px 32px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
p.order-heading, .order-subheading, p.order-name, p.order-subname, p.price-info, p.price-text{
  font-family: 'Inter', sans-serif;
  color: #363A43;
}
p.order-heading{
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}
.order-subheading{
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  margin-top: 24px;
}
.order-product{
  display: block;
  margin-top: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px 0 18px;
  border-top: 1px solid #E0E2EA;
  border-bottom: 1px solid #E0E2EA;
}
p.order-name{
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
p.order-subname{
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #797E8B;
  margin-top: 2px;
}
.order-price{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 16px;
}
p.price-info{
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #363A43;
}
p.price-text{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #363A43;
}
p.price-mobile{
  display: none;
}
p.produced{
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #666C7B;
  margin-top: 56px;
  text-align: center;
}

@media screen and (max-width: 999px){
  .payment-row{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .b-center-content{
    padding: 0 16px 32px;
  }
  .lang-wrapper{
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 8px;
  }
  .checkout-desktop, .checkout-b-position, .link-mobile{
    display: none;
  }
  a.lang-link{
    margin: 0 8px 0 0;
  }
  .checkout-mobile{
    display: block;
  }
  .checkout-block{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 0 16px;
  }
  .payment-rules{
    margin-top: 0;
    text-align: center;
  }
  a.checkout-link{
    line-height: 32px;
    margin-left: 0;
  }
  p.payment-subheading{
    font-size: 14px;
    line-height: 20px;
  }
  .main-content-desktop{
    display: none;
  }
  .main-content-mobile{
    display: block;
  }
  .order-field, p.produced{
    margin-top: 32px;
  }
  .order-b-center{
    padding: 12px 12px 16px;
    max-width: 388px;
    width: 100%;
  }
  p.order-subheading{
    margin-top: 16px;
  } 
}
@media screen and (max-width: 452px){
  p.payment-heading{
    font-size: 24px;
  }
  p.price-desktop{
    display: none;
  }
  p.price-mobile{
    display: inline-block;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #363A43;
  }
  .checkout-link img{
    width: 14px;
    height: 12px;
  }
}
